@import '~bootstrap/scss/bootstrap';

body{
    li{
        list-style: none;
    }
    header{
        li{
            cursor: pointer;

            &::after{
            display: block;
            content: '';
            width: 100%;
            height: 264%;
            border-bottom: 4px solid transparent;
            }

            &:hover, &.active{
                color: #2b82f9;
            }

            &:hover::after, &.active::after{
                border-bottom: 4px solid #2b82f9;
            }
        }
    }
    main{
        .jumbotron{
            width: 100%;
            height: 500px;
            background-image: url(../../public/images/jumbotron.jpg);
        }
        li{
            width: 30%;

            & img{
                width: 30%;
            }
        }
    }
    footer{
        .footer-up{
            background-image: url(../../public/images/footer-bg.jpg);
            background-size: cover;
        }

        .logo{
            width: 30%;
            background-image: url(../../public/images/dc-logo-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}
